/.vscode
/.git
/uploads
/database
config.ini
test.go
__debug_bin*
/storage/*
*.SEG*
*.VLOG*
INDEX.*
FLOCK
bin
tailwindcss
*копия*
*_cpu*
*_heap*
*cpu_*
*heap_*
mem_*
uploads
tailwindcss.exe
*.db
*.db-wal
*.db-shm
*.exe~
node_modules
